.profile .info-card .img-hold {
  display: flex; }
  .profile .info-card .img-hold img {
    height: 100%;
    width: 50%;
    margin: auto; }

.profile .engagement-view li {
  display: none; }

.profile .engagement-view li:first-child {
  display: block; }
