.login {
  background: #ff0000; }

.index {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }
  .index nav.navbar {
    margin-top: 15px;
    border: none; }
    .index nav.navbar .navbar-header > a {
      color: white; }
    .index nav.navbar ul.navbar-right > li > a {
      color: white; }
