extends layout

block content
  .col-md-12.center
    h1 Submit Self Review
    form(method='POST', action='/articles/add')
      .form-group.self-review
        label Teamwork:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='teamwork', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='teamwork', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='teamwork', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='teamwork', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='teamwork', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group.self-review
        label Results:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='results', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='results', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='results', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='results', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='results', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group.self-review
        label Communication:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='communication', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='communication', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='communication', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='communication', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='communication', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group.self-review
        label Passion:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='passion', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='passion', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='passion', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='passion', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='passion', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group.self-review
        label Development:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='development', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='development', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='development', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='development', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='development', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group.self-review
        label Overall Performance Rating:
        br
        .form-check.self-review-check.self-review-check-first
          input.form-check-input(type='radio', name='overallResult', value='Unsatisfactory')
          label.form-check-label(for='exampleRadios1')
            | Unsatisfactory
        .form-check.self-review-check
          input.form-check-input(type='radio', name='overallResult', value='Needs Improvement')
          label.form-check-label(for='exampleRadios1')
            | Needs Improvement
        .form-check.self-review-check
          input.form-check-input(type='radio', name='overallResult', value='Meets Expectations')
          label.form-check-label(for='exampleRadios1')
            | Meets Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='overallResult', value='Exceeds Expectations')
          label.form-check-label(for='exampleRadios1')
            | Exceeds Expectations
        .form-check.self-review-check
          input.form-check-input(type='radio', name='overallResult', value='outstanding')
          label.form-check-label(for='exampleRadios1')
            | Outstanding
      .form-group
        label Any Comments:
        br
        textarea.form-control(name='comments')
      br
      input.btn.btn-primary(type='submit', value='Submit')
