extends layout

block content
  if user
    .container(style="padding-top:50px;")
      .col-md-6
        if user
          h1(style="margin-top:0;") Welcome to Performify 
            span.user-name(style="color: gray; text-transform: capitalize; ") #{user.name}
          a(class='button btn btn-primary btn-login',  href='/users/'+user._id) View Profile
        .article-wrapper
          .center.float-none
            //- h3 Reviews
            //- ul.list-group
            //-   each article, i in articles
            //-     li.list-group-item.list-reviews
            //-       //- a(href='/articles/'+article._id)= article.date
            //-       a(href='/articles/'+article._id)= moment(article.date).format("MMMM Do YYYY, h:mm:ss a")
      .col-md-6
        p Charts and stuff will go here
        .img-border(style="border: 1px solid black; height:500px;")
  else
    .col-md-6.center.float-none
      h1 Welcome to Performify
      h2.text-center Please Login
      .btn-hold
        .btn-inner
          a(class='button btn btn-default btn-success btn-login', style="width: 30%; margin-left: 35%;" href='/users/login') Login
            i.fas.fa-sign-in-alt(style="margin-left:10px;")
    //- .article-wrapper
    //-   .col-md-6.center.float-none
    //-     .div
    //-       if user
    //-         h3 Dynamic Reviews
    //-         ul.list-group
    //-           each dynamic in dynamics
    //-             li.list-group-item
    //-               a(href='/dynamics/'+dynamic._id)= dynamic.date
              //- each dynamic, i in dynamics
              //-   li.list-group-item
              //-     a(href='/dynamics/'+dynamic._id)= dynamic.date