extends layout

block content
  .container
    .article-wrapper
      .col-md-6.center.float-none
        h3 Dynamics Review
        ul.list-group
          each dynamic in dynamics
            li.list-group-item
              a(href='/dynamics/'+dynamic._id)= dynamic.date