.index{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);

  nav.navbar{
    margin-top: 15px;
    border:none;

    .navbar-header{
      color:white;
    }

    ul.navbar-right{
      color:white;
    }
  }
}