.index{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);

  nav.navbar{
    margin-top: 15px;
    border:none;

    .navbar-header > a , ul.navbar-right > li > a{
      color:white;
      font-size: 16px;
    }
    ul.navbar-right > li > a:hover{
      background: transparent;
    }
  }
}