.layout{
  .navbar{
    background:#51A8FF;
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  }
  .navbar-brand{
    color:white;
  }
  .navbar-nav > li > a{
    color:white;
  }
  .navbar-nav > li > a:hover{
    color:#E8E8E8;
  }
}