.profile{
  .info-card{
    .img-hold{
      display:flex;
      img{
        height: 100%;
        width:50%;
        margin:auto;
      }
    }
  }
  .engagement-view{
    li {
      display:none;
    }
    li:first-child {
        display:block;
    }
  }
}