extends layout

block pageBody
  if user
    .col-md-12.center.float-none
      h1 Submit Review For Employee
      form(method='POST', action='/perReviews/add_employee_review')
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="Select Employee")
              label(for='list-users-in-team').form-title Select Employee:
              br
            .col-md-11.form-info-col
              select#list-users-in-team.form-control(name='userSelected' style="width:20%;")
                each user in users
                  option #{user.name}
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="How we work with peers & customers and role model our values")
              label.form-title Teamwork:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='teamwork', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='teamwork', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='teamwork', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='teamwork', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='teamwork', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="How we deliver high quality results")
              label.form-title Results:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='results', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='results', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='results', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='results', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='results', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="How we communicate effectively to achieve results")
              label.form-title Communication:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='communication', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='communication', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='communication', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='communication', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='communication', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="How we demonstrate commitment to what we do")
              label.form-title Passion:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='passion', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='passion', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='passion', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='passion', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='passion', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group.self-review
          .row
            .col-md-1.form-label-col(data-toggle="tooltip" title="How we learn and develop to improve our performance")
              label.form-title Development:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='development', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='development', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='development', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='development', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='development', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group.self-review
          .row
            .col-md-1.form-label-col
              label.form-title Overall Performance Rating:
              br
            .col-md-11.form-info-col
              .form-check.self-review-check.self-review-check-first
                input.form-check-input(type='radio', name='overallResult', value='Unsatisfactory')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Unsatisfactory
              .form-check.self-review-check
                input.form-check-input(type='radio', name='overallResult', value='Needs Improvement')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Needs Improvement
              .form-check.self-review-check
                input.form-check-input(type='radio', name='overallResult', value='Meets Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Meets Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='overallResult', value='Exceeds Expectations')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Exceeds Expectations
              .form-check.self-review-check
                input.form-check-input(type='radio', name='overallResult', value='outstanding')
                label.form-check-label.label-form(for='exampleRadios1')
                  | Outstanding
        .form-group
          label.form-title Any Comments:
          br
          textarea.form-control(name='comments')
        br
        input.btn.btn-primary(type='submit', value='Submit' style="margin-left:15px;")

    script.
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
  //- else 
  //-   h3 Uh Oh! 