extends layout

block pageBody
	.enagagement-dashboard
		if user
			.container
				.padding-top-md
				if (user.role == "Management")
					.col-md-6
						h3 Last 5 Engagement Surveys from Team
						br
						ul.list-group.engagement-view
							each engagement, i in engagements
								li.list-group-item.list-reviews(style="font-size:18px;")
									a(href='/engagements/'+engagement._id)= moment(engagement.date).format("h:mm:ss a, MMMM Do YYYY ")	
							br
							br
						a(class='button btn btn-default1', style="width: 100%;" href='/engagements/submit_engagement_survey') Submit Enagagement Survay
					.col-md-6.padding-top-lg
						.card.center.float-none(style="width:80%")
							.center.padding-top-md.padding-bottom-md
								h3(style="font-size:20px; font-weight:700; margin-top: 10px; text-align:center;") Average Engagement Result for Team
								h4(style="font-size:42px;  margin-top: 10px; text-align:center; color: slategrey; text-decoration: underline;")
									span#teamAverage
									|  / 10
				else if (user.role == "Senior Management")
					.col-md-6
						h3 Last 10 Engagement Surveys from Company
						br
						ul.list-group.engagement-view
							each engagement, i in engagements
								li.list-group-item.list-reviews(style="font-size:18px;")
									a(href='/engagements/'+engagement._id)= moment(engagement.date).format("h:mm:ss a, MMMM Do YYYY ")	
					.col-md-6
						.div.padding-top-lg
							.card.center.float-none(style="width:80%")
								.center.padding-top-md.padding-bottom-md
									h3(style="font-size:20px; font-weight:700; margin-top: 10px; text-align:center;") Average Engagement Result for Company 
									h4(style="font-size:42px;  margin-top: 10px; text-align:center; color: slategrey; text-decoration: underline;")
										span#companyAverage
										|  / 10
						br
						.div.center.float-none(style="width: 80%;").padding-top-sm
							a(class='button btn btn-default1 center', style="width: 100%;" href='/engagements/submit_engagement_survey') Submit Enagagement Survay
				else  
					.col-md-6.center.float-none 
						br 
						br 
						h3 Error you are not ment to be here!
						h3 Please navigate back to the home page!
		
		script.
			$.get('
			]
			[/chartsEndpoints/engagmentTeamAverage', {}, function(data){
				var div = document.getElementById('teamAverage');
				div.innerHTML += data;
			});
			$.get('https://performify.herokuapp.com/chartsEndpoints/engagmentCompanyAverage', {}, function(data){
				var div = document.getElementById('companyAverage');
				div.innerHTML += data;
			});