.col-md-8.center.float-none
	.container
		.col-md-8.center.float-none
			h2 heloo
			//- table.table.table-bordered
			//- 	thead.thead-light
			//- 		tr
			//- 			th(scope="col") Name
			//- 			th(scope="col") Email
			//- 			th(scope="col") Username
			//- 			th(scope="col") Role
			//- 			th(scope="col") Team
			//- 			th(scope="col") Title
			//- 	tbody
			//- 		tr
			//- 			td= user.name
			//- 			td= user.name
			//- 			td= user.username
			//- 			td= user.role
			//- 			td= user.team
			//- 			td= user.title