extends layout

block pageBody
  .home
    if user
      .container
        if (user.role == "Employee")
          .col-md-6.home-left-col
            h1(style="margin-top:0;") Welcome to Performify 
              span.user-name(style="color: gray; text-transform: capitalize; ") #{user.name}
            a(class='button btn btn-primary btn-login',  href='/users/'+user._id) View Profile
          .col-md-6.home-right-col
            p Charts and stuff will go here
              .img-border(style="border: 1px solid black; height:500px;")
        else if (user.role == "Management")
          h3(style="margin-top:0;") Welcome 
            span.user-name(style="color: gray; text-transform: capitalize; ") #{ user.name}
          .col-md-6.home-left-col
            canvas#PerformanceReviewAverage(width="250" height="250")
          .col-md-6.home-right-col
            .gen-chart.center.float-none
              canvas#GenderRatioOnTeam(width="250" height="250")
        else if (user.role == "Senior Management")
          .col-md-6.home-left-col
            h1(style="margin-top:0;") Welcome
              span.user-name(style="color: gray; text-transform: capitalize; ") #{ user.name}
            a(class='button btn btn-primary btn-login',  href='/users/'+user._id) View Profile
          .col-md-6.home-right-col
            p Charts and stuff will go here
              .img-border(style="border: 1px solid black; height:500px;")
        else if (user.role == "Administrator")
          h3(style="margin-top:0;") Welcome 
            span.user-name(style="color: gray; text-transform: capitalize; ") #{user.name}
          .col-md-6.home-left-col
          .col-md-6.home-right-col
            .gen-chart.center.float-none
              canvas#GenderRatioChart(width="250" height="250")
    else
      .col-md-6.center.float-none
        h1 Welcome to Performify
        h2.text-center Please Login
        .btn-hold
          .btn-inner
            a(class='button btn btn-default btn-success btn-login', style="width: 30%; margin-left: 35%;" href='/users/login') Login
              i.fas.fa-sign-in-alt(style="margin-left:10px;")
    script.
      $.get('http://localhost:3333/chartsEndpoints/ListUsers', {}, function(data){
        //- console.log(data);
        var g = data;
        let Female = 0;
        let Male = 0;
        let Transgender = 0;
        let Other = 0
        
        for (var i = 0; i < g.length; i++) {
          if (g[i].gender === 'Female') {
            Female += 1;
          }
          else if (g[i].gender === 'Male') {
            Male += 1;
          }
          else if (g[i].gender === 'Transgender') {
            Transgender += 1;
          }
          else {
            Other+= 1;
          }
        }
        let genderLabels = ['Male', 'Female', 'Trangender' , 'Other'];
        var ctx = document.getElementById("GenderRatioChart").getContext('2d');
        var GenderRatioChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: genderLabels,
              datasets: [{
                  label: '# of Votes',
                  data:[Male , Female , Transgender , Other],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      //- 'rgba(54, 162, 235, 0.2)',
                      //- 'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      //- 'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 0
              }]
          },
          options: {
            responsive: true,
            title: {
              display: true,
              position: "top",
              text: "Gender Ratio",
              fontSize: 20,
              fontColor: "#111"
            },
            legend: {
              display: true,
              position: "bottom",
              labels: {
                fontColor: "#333",
                fontSize: 16
              }
            }
          }
        });
      });
      $.get('http://localhost:3333/chartsEndpoints/team', {}, function(data){
        console.log(data);
        var g = data;
        let Female = 0;
        let Male = 0;
        let Transgender = 0;
        let Other = 0
        //- console.log(data);
        for (var i = 0; i < g.length; i++) {
          if (g[i].gender === 'Female') {
            Female += 1;
          }
          else if (g[i].gender === 'Male') {
            Male += 1;
          }
          else if (g[i].gender === 'Transgender') {
            Transgender += 1;
          }
          else {
            Other+= 1;
          }
        }
        console.log(g[0].team)
        let genderLabels = ['Male', 'Female', 'Trangender' , 'Other'];
        var ctx = document.getElementById("GenderRatioOnTeam").getContext('2d');
        var GenderRatioOnTeam = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: genderLabels,
              datasets: [{
                  label: 'Gender',
                  data:[Male , Female , Transgender , Other],
                  backgroundColor: [
                      'rgba(255, 99, 132)',
                      'rgba(75, 192, 192, 0.5)',
                      'rgba(153, 102, 255, 0.5)',
                      'rgba(255, 159, 64, 0.5)',
                      'rgba(229, 158, 175, 0.5)',
                      'rgba(65,79,111)',
                      'rgba(153,153,204)',
                      'rgba(254,255,163, 0.85)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      //- 'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 0
              }]
          },
          options: {
            responsive: true,
            title: {
              display: true,
              position: "top",
              text: "Gender Ratio On Team: " + g[0].team,				
              fontSize: 20,
              fontColor: "#111"
            },
            legend: {
              display: true,
              position: "bottom",
              labels: {
                fontColor: "#333",
                fontSize: 16
              }
            }
          }
        });
      });
      $.get('http://localhost:3333/chartsEndpoints/teamOverallResult', {}, function(data){
        var g = data;
        console.log(g)
        let Unsatisfactory = null;
        let NeedsImprovement = null;
        let MeetsExpectations = null;
        let ExceedsExpectations = null;
        let outstanding = null;
        var text ="";

        
       let latestReviews = [];
        for (var i = 0; i < g.length; i++) {
          var names = g[i].userSelected;
          var test = 0;
          console.log(g[i].userSelected);
          if (g[i].userSelected === g[i].userSelected) {
            console.log("hi")
          }
        }

        
        for (var i = 0; i < g.length; i++) {
          if (g[i].overallResult === "Meets Expectations") {
            Unsatisfactory += "Unsatisfactory";
          }
          else if (g[i].overallResult === 'Needs Improvement') {
            NeedsImprovement += "Needs Improvement";
          }
          else if (g[i].overallResult === 'Meets Expectations') {
            Unsatisfactory += "Unsatisfactory";
          }
          else if (g[i].overallResult === 'ExceedsExpectations') {
            ExceedsExpectations += "Exceeds Expectations";
          }
          else {
            outstanding += "outstanding";
          }
        }
        var lol = 
          [
              {"name":"Joe", "age":17}, 
              {"name":"Bob", "age":17}, 
              {"name":"Carl", "age": 35}
          ]
        var listName = [] ;
        for (var i = 0 ; i < data.length ; i++)
        {
        if(listName.indexOf(g[i]['userSelected']) == -1)
          {
            listName.push(g[i]['userSelected']);
          }
        }
        console.log(listName);
        //- var listIndex = null;
        //- for (var i = 0; i < listName.length; i++) {
        //-   console.log(listname[i]);
        //-   //- if (g[i].userSelected === g[i].userSelected) {
        //-   //-   console.log("hi")
        //-   //- }
        //- }  

        for (var i in listName) {
          console.log(listName[i]); //"aa", bb", "cc"
        }      
        //- console.log(g[0].team)


        let valueLabels = ['Review 1',  'Review 2', 'Review 3' , 'Review 4', 'Review 5'];
        var ctx = document.getElementById("PerformanceReviewAverage").getContext('2d');
        var PerformanceReviewAverage = new Chart(ctx, {
          type: 'line',
          data: {
              labels: valueLabels,
              datasets: [{
                  label: listName[i],
                  data:[Unsatisfactory, NeedsImprovement, MeetsExpectations , ExceedsExpectations, outstanding],
                  //- backgroundColor: [
                  //-     'rgba(255, 99, 132)',
                  //-     'rgba(75, 192, 192, 0.5)',
                  //-     'rgba(153, 102, 255, 0.5)',
                  //-     'rgba(255, 159, 64, 0.5)',
                  //-     'rgba(229, 158, 175, 0.5)',
                  //-     'rgba(65,79,111)',
                  //-     'rgba(153,153,204)',
                  //-     'rgba(254,255,163, 0.85)'
                  //- ]
              }]
          },
          options: {
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Month'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Value'
                }
              }]
            },
            responsive: true,
            title: {
              display: true,
              position: "top",
              text: "Gender Ratio On Team: " + g[0].team,				
              fontSize: 20,
              fontColor: "#111"
            },
            legend: {
              display: true,
              position: "bottom",
              labels: {
                fontColor: "#333",
                fontSize: 16
              }
            }
          }
        });
      });


