extends layout

block content
  .row
    .col-md-6.center.float-none
        h4 Senior Managers
            ul.list-group
                each user, i in users 
                    li.list-group-item.list-reviews
                        a(href='/users/profile/'+user.username)= user.name
    
    //- ul.list-group
    //-     each seniors, i  in users
    //-         li.list-group-item.list-reviews
    //-             a(href='/users/profile/'+seniors.username)= seniors.name
