extends layout

block pageBody
  .row
    .col-md-6.center.float-none
        h4 Senior Managers
            ul.list-group
                each user, i in users 
                    li.list-group-item.list-reviews
                        a(href='/users/profile/'+user.username)= user.name