extends layout

block pageBody
  .login
    .row.test
      .col-md-6.center.float-none
        .logo.center.float-none
          img(src="../images/logo/logo.png" style="width:80%")
        h1 Login
        form(method='POST', action='/users/login')
            .form-group
                .row
                    label(for='exampleInputEmail1') Employee username
                    input#exampleInputEmail1.form-control(name='username', type='text', aria-describedby='emailHelp', placeholder='Enter username')
            .form-group
                .row
                    label Password
                    input.form-control(type="password", name="password"  placeholder='Enter password') 
            button.btn.btn-default1.btn-login(type="submit", value="Submit") Log in
